.button-custom {
  background-color: #242526cc; 
  border-color: #D2C8AE; 
}

.button-custom:hover {
  border-color: #ffa000;
}

.bg-darkgreen {
  background-color: #242526cc;
}

.hover\\:border-gold:hover {
  border-color: #ffa000; 
}

.button-custom:hover {
  background-color: #006400;
  cursor: url("/src/media/pointer.png"), auto;
}

.button-custom:disabled,
.button-custom[disabled] {
  background-color: #797979;
  color: #666666;
  animation: none;
  cursor: not-allowed;
}


.description {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  font-size: 1.3rem;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
  color: #d2c8ae;
}

.header-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 30%;
}

.header-title {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 10px;
  font-size: 1.3rem;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
  color: #d2c8ae;
  font-weight: bold;
  text-transform: uppercase;
}












