.container {
  display: flex;
  padding: 7rem 3rem;
  box-sizing: border-box;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.avatar-and-skills {
  flex: 1;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Rozmieść zawartość na górze i na dole */
}

.right-section {
  flex: 2;
  display: flex;
  gap: 10rem;
}

.forms-top, .forms-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.submit-button {
  cursor: pointer;
  padding: 10px 20px;
  background-color: #222;
  color: #D2C8AE;
  border: solid #807c3f;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  cursor: url("/src/media/pointer.png"), auto;
}

.submit-button:hover {
  background-color: #807c3f;
}

/* Responsywność */
@media (max-width: 1024px) {
  .container {
    flex-direction: column;
  }
  .avatar-and-skills {
    margin-right: 0;
  }
  .forms-top {
    grid-template-columns: repeat(2, 1fr);
  }
  .forms-middle {
    grid-template-columns: 1fr;
  }
  .bio-equipment-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .right-section {
    flex-direction: column;
  }
  .skills-container {
    margin-top: 20px;
  }
}

select:not([size]) {
  background-position: right 0.75rem center;
  background-repeat: no-repeat;
  background-size: 0.75em 0.75em;
  padding-right: 2.5rem;
  cursor: url("/src/media/pointer.png"), auto;
}

.attributes_col_sex{
  cursor: url("/src/media/cursor.png"), auto;
}

.text-goldd {
  cursor: url("/src/media/cursor.png"), auto;
}

/* select:focus > option:active { 
    background: #e70606 !important;
} */