#root {
  height: 100%;
}

html,
body {
  height: 100%;
  font-family: 'Old Fenris';
  src: url("fonts/Old_Fenris.ttf");
}

.app {
  height: 100%;
  background: url(media/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  box-shadow: inset 1px 0px 100px 34px rgba(0, 0, 0, 1);
}

.Cards-box {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  height: 420px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  transform: scale(0.9);
}

.cards {
  border: 2px solid rgb(250, 250, 250);
  height: 400px;
  width: 200px;
  /* background-color: rgb(81, 100, 2); */
  border-radius: 5px;
  display: flex;
  float: left;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 50px;
  margin-right: 50px;
  box-shadow: 1px 0px 100px 34px rgba(0, 0, 0, 1);
}

.cards-active{
  border-radius: 5px;
  border: 3px solid #ffa000;
}

.cards-inactive{
  filter: grayscale(100%);
}

.Test {
  top: 75%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  display: flex;
  clear: both;
  background: black;
}
p {
  margin: 20px;
  font-size: 20px;
}

.Test1 {
  border: #282c34 solid 2px;
}

.Test2 {
  height: 300px;
  width: 300px;
  border: red solid 2px;
  float: left;
}

.Test3 {
  height: 300px;
  width: 300px;
  border: blue solid 2px;
  float: left;
}


.cards:hover {
  cursor: url("media/pointer.png"), auto;
} 

html, body {
  cursor: url('media/cursor.png'), auto;
}

.cards-name{
  font-weight: 400;
  line-height: 1.55;
  text-transform: uppercase;
  text-shadow: 3px 5px 5px rgba(0, 0, 0, 0.5);
  color: #D2C8AE;
  font-size: 20px;
}


