.button {
    position: relative;
    display: inline-block;
    padding: 8px 16px;
    border: 2px solid #333;
    background-color: #D2C8AE;
    color: #333;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
    cursor: url("../../../media/pointer.png"), auto;
  }
  
  .button::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 16px;
    height: 16px;
    margin: -8px 0 0 -8px;
  }
  
  .button.minus::before {
    background-image: url('../../../media/minus.png');
  }
  
  .button.plus::before {
    background-image: url('../../../media/plus.png');
  }

  .atribute_name{
    color: #D2C8AE;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .atribute_count{
    font-size: 1.875rem;
    color: #D2C8AE;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttonsAttributes{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .progressSkills{
    padding: 50px;
  }

  .cursor-pointer {
    cursor: url("../../../media/pointer.png"), auto;
  }
/* .block {
  cursor: url("../../../media/cursor.png"), auto;
} */