.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#ImageTest {
  margin-left: auto;
  margin-right: auto;
}

.ButtonTest {
  display: flex;
  justify-content: center;
  align-items: center;
}

.avatarButtons{
  text-transform: uppercase;
  cursor: url("../../../media/pointer.png"), auto;
  margin-right: 10px;
}


.attributes_col_avatar_text{
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: 10%; */
  padding-top: 10%;
}