p.errors_message {
    color: red;
    font-size: 15px;
    margin-top: 5px;
    display: flex;
  }
  
  p.errors_message::before {
    display: inline;
    content: "⚠ ";
  }
  
  .message {
    font-size: 15px;
    margin-top: 5px;
  }