.attributes_col_skills {
  /* height: 20%; */
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: scale(0.8); 
  

  @media (max-width: 768px) {
    flex-direction: column; 
    transform: scale(0.7); 
  }
}

.stats {
  flex: 1;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  width: 20rem;
  min-width: 20rem;

  @media (max-width: 2100px) {
    width: 14rem;
    min-width: 14rem;
  }

  @media (max-width: 1700px) {
    width: 12rem;
    min-width: 12rem;
  }

  @media (max-width: 1500px) {
    width: 10rem;
    min-width: 10rem;
  }

  @media (max-width: 1000px) {
    width: 8rem;
    min-width: 8rem;
  }

   @media (max-width: 768px) {
    width: 60%;
    min-width: 60%;
  }
}

.bonus_stats{
  margin-top: 10px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #7c0000; */
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin-left: auto;
  margin-right: auto;
}

.totalPoints{
  margin: 10px;
  justify-content: center;
  align-items: center;
  display: flex;
}