.attributes_col_skills {
  height: 20%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  transform: scale(0.8); 

  @media (max-width: 768px) {
    flex-direction: column; 
    transform: scale(0.7); 
  }
}

.strenght,
.dexterity,
.intelligence {
  flex: 1;
  margin: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
}