.biography_form {
  width: 300px;
}


.biography_input {
  width: 100%;
  padding: 6px;
  font-size: 14px;
  border-width: 3px;
  border-color: #807c3f;
  background-color: #141319;
  color: #ffffff;
  border-style: solid;
  border-radius: 2px;
  resize: vertical;
}